<h2>Please choose a password</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  
  <input type="hidden" name="facebook" value="<%= Time.now %>" %>
  <input type="hidden" name="id" value="<%= current_user.id %>" %>
  
  <div><%= f.label :username %><br />
  <%= f.text_field :username %></div>
  
  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.submit "Save" %></div>
<% end %>